body {
    font-family: Arial, Helvetica, sans-serif;
    /* margin: 0px; */
}

.header {
    background-color: #a52a2a;
    border-radius: 20px;
    padding: 1em;
    margin-bottom: 1em;
}

.header .title {
    /* padding: 0.5em; */
    
    color: white;
}

.content {
    background-color: burlywood;
    border-radius: 20px;
    padding: 1em;
}

li {
    list-style: none;
    text-indent: -0.7rem;
}

li::before {
    content: "🔥 ";
  }
